
/* ------------------------ reset -----------------------------*/

html, body, div, span, 
h1, h2, h3, h4, h5, h6, p, 
a, u, center, input, textarea,
ol, ul, li, label, legend,
table, tbody, tfoot, thead, tr, th, td,
footer, header, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: Arial,Helvetica,inherit;
	vertical-align: baseline;
}

/* ------------------------- normalize ------------------------ */

footer,
header,
nav,
section {
    display: block;
}

body,
input,
textarea {
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------------------ styles1 ----------------------------------- */

body {
	font-size:12px;
	font-family:Arial,serif;
	min-height:100%;
	height:auto!important;
	height:100%
}

html,body {
	width:100%;
	min-width:1000px
}

body {
	background-color:#f1f1f1;
	background-image:url(../images/chains.png);
	background-repeat:repeat;
	background-position:right top
}

#wrapper {
	width:1002px;
	margin:0 auto;
	padding:25px 0
}

.inner {
    /**background-color:#F0F8FF;*/
	background:url(../images/inner-bg.png) #fff repeat-y;
	border:1px #e5e5e5 solid;
	padding:59px 30px 37px
}

.inner-960,#footer {
	width:960px
}

.inner-960,#footer {
	width:960px
}

.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}

.clearfix:before,.clearfix:after {
	content:'\0020';
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}

.clearfix:after {
	clear:both
}

.clearfix {
	zoom:1
}

.bottom-20 {
	margin-bottom:10px
}

.bottom-35 {
	margin-bottom:35px
}

ul li {
	line-height:1.8em
}

h1,h2,h3,h4,h5,h6 {
	font-family: Arial,sans-serif;
	font-weight:400;
	background:url(../images/head-bg.gif) no-repeat left bottom;
	padding-bottom:10px;
	color:#505050; 
}

.center {
text-align: center; 
}

p {
	line-height:1.8em;
	margin-bottom:12px;
	text-align:justify;
	color:#505050;
}
.alignleft {
	float:left
}

.breadcrumb {
	font-size:12px;
	padding:10px 0;
	border-top:1px #dedede solid;
}

.pad_container{ 
    width:940px; 
	margin:0px 30px 0px 30px;
}

.picture{ 
    width:940px; 
	margin:0px 0px 0px 0px;
}

.content-left,.content-description{
	float:left;
	line-height:1.6em;
	margin-bottom:50px
}

.one_half {
    float:left;
	line-height:1.6em;
	margin-bottom:50px;
	margin-right:5%;
	width:45%
}

.content-left{
    margin-right:3%;
	width:20%
}
.content-description{
    margin-right:7%;
	width:70%
}
.content-description p { margin-top:20px }

div.data {
	float:right;
	width:650px;
	text-align:justify;
}

.photo {
	margin-bottom:15px;
	background-color:#e2e2e2;
	width:940px; 
	margin:0px 0px 20px 0px;
}

#footer{background-color:#e2e2e2; height:50px; color:#505050; font-size:11px; text-align:center; clear:both}
#copyright{padding:15px 0 0 20px;}

/********** contact form     color:#898989 **********/
.contactform ol { margin:0; padding:0; list-style:none; }
.contactform li { margin:0; padding:0; background:none; border:none; display:block; clear:both; }
.contactform label { margin:0; width:90px; display:block; padding:10px 0; color:#505050; font: normal 12px Arial, Helvetica, sans-serif; float:left; }
.contactform input.text { width:530px; border:0px; margin:2px 0; padding:5px 2px; height:16px; background:#F0F8FF; float:right;}
.contactform textarea { width:530px; border:0px; margin:2px 0; padding:2px; background:#F0F8FF; float:right; text-align:justify; line-height:1.6em;}
.contactform p { width:530px; border:0px; margin:2px 0; padding:5px 2px; height:16px; background:#F0F8FF; float:right;}
.contactform p.area{ width:530px; border:0px; margin:2px 0; padding:5px; height:95px; background:#F0F8FF; float:right;}
