/*-----------------------------------------*/
html {
  font-size: 100%;
  /*шрифт по умолчанию*/

}
body {
  background: url(../images/fon.png);
  font: normal 0.875em PTSans, sans-serif;
  /* 14:16; */

  width: 100%;
  /*1349px*/

}
body a {
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px dashed #666666;
  color: #666666;
}
body a:hover {
  border-bottom-style: none;
}
@media screen and (max-width: 640px) {
  header {
    margin: 0 auto;
    width: 87.5%;
  }
  header nav.content {
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  header {
    width: 90%;
  }
}
@media screen and (max-width: 320px) {
  header {
    width: 95%;
  }
}
.head-left {
  font-weight: bold;
  font-size: 1.7142857142857142em;
  letter-spacing: 0.25em;
  padding: 16px 0 0 10px;
  float: left;
}
@media screen and (max-width: 768px) {
  .head-left {
    font-size: 1.2857142857142858em;
    letter-spacing: 0em;
  }
}
@media screen and (max-width: 640px) {
  .head-left {
    padding-left: 0px;
  }
}
@media screen and (max-width: 520px) {
  .head-left {
    font-size: 1.1428571428571428em;
  }
}
@media screen and (max-width: 320px) {
  .head-left {
    font-size: 1em;
  }
}
.head-right {
  float: right;
  padding: 20px 11px 0 0;
  height: 125px;
}
@media screen and (max-width: 640px) {
  .head-right {
    padding-right: 0px;
  }
}
#dark {
  visibility: hidden;
  z-index: 1;
  background-color: #000000;
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: fixed;
  top: 0;
  width: 100%;
}
.blur {
  -webkit-filter: blur(1px);
}
#login {
  width: 27.27946627131208%;
  display: none;
  background: #FFF;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  margin-top: -8.52483321%;
  /*115px:1349px;*/

  margin-left: -13.639733136%;
  /*184px:1349px;*/

}
@media screen and (max-width: 640px) {
  #login {
    width: 40%;
    /*368px:1349px;*/
  
  }
}
@media screen and (max-width: 375px) {
  #login {
    width: 45%;
  }
}
@media screen and (max-width: 320px) {
  #login {
    width: 50%;
  }
}
form {
  padding-top: 15.489130434782608%;
  padding-left: 17.66304347826087%;
  width: 100%;
}
.field input {
  color: #666;
  width: 65.48913043478261%;
  margin-bottom: 5.163043478260869%;
}
.control {
  margin-top: 5px;
  margin-bottom: 15.760869565217392%;
  overflow: hidden;
}
#submit {
  float: left;
  margin-right: 15px;
}
/*--------------- article ----------------*/
.content {
  width: 62.34247590808006%;
  margin: 0 auto;
  display: block;
}
@media screen and (max-width: 768px) {
  .content {
    width: 90%;
  }
}
@media screen and (max-width: 640px) {
  .content {
    width: 87.5%;
  }
}
@media screen and (max-width: 480px) {
  .content {
    width: 90%;
  }
}
@media screen and (max-width: 320px) {
  .content {
    width: 95%;
  }
}
/*img {
	max-width: 100%;
}*/
.title {
  text-align: center;
  margin: 0 auto;
  padding-top: 12.48513674197384%;
}
@media screen and (max-width: 320px) {
  .title {
    padding-top: 20%;
  }
}
.main {
  font: bold 5.14285714286em PTSerif;
  /*72:14;*/

  line-height: 1em;
}
@media screen and (max-width: 768px) {
  .main {
    font-size: 4.142857142857143em;
  }
}
@media screen and (max-width: 520px) {
  .main {
    font-size: 3.4285714285714284em;
  }
}
@media screen and (max-width: 320px) {
  .main {
    font-size: 2.5714285714285716em;
  }
}
h2 {
  font-size: 1.7142857142857142em;
  margin-top: -10px;
  padding-bottom: 9.151414309484194%;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.2857142857142858em;
    padding-bottom: 5%;
  }
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 1.2857142857142858em;
  }
}
@media screen and (max-width: 320px) {
  h2 {
    font-size: 1.1428571428571428em;
  }
}
.list {
  font-size: 1.2857142857142858em;
  margin-top: 0;
  padding-top: 3.349282296650718%;
  padding-bottom: 13.516746411483254%;
  /*836px (ширина .list)*/

  padding-left: 5px;
}
.list li {
  display: inline-block;
  list-style-type: none;
}
@media screen and (max-width: 520px) {
  .list {
    font-size: 1.1428571428571428em;
  }
}
@media screen and (max-width: 320px) {
  .list {
    font-size: 1em;
  }
}
.top-line-menu {
  margin: 0;
  padding-bottom: 10.70154577883472%;
  padding-top: 20px;
  padding-left: 28.656361474435194%;
  /*@media screen and (max-width: 520px) {
	}*/

}
.top-line-menu li {
  display: inline-block;
  list-style-type: none;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .top-line-menu {
    width: 100%;
    padding-top: 60px;
    padding-left: 4.875148632580261%;
  }
}
@media screen and (max-width: 640px) {
  .top-line-menu {
    padding-left: 0;
    width: 100%;
    padding-top: 60px;
  }
}
@media screen and (max-width: 320px) {
  .top-line-menu {
    padding-bottom: 0;
  }
}
.news {
  margin: 0 auto;
  width: 100%;
  /*841px*/

  overflow: hidden;
  padding-bottom: 4.399524375743162%;
}
.one-news {
  border-bottom: 3px  solid #b1b1b1;
  margin-left: 4.875148632580261%;
  width: 95.12485136741974%;
  overflow: hidden;
}
.news2 {
  padding-bottom: 2.4970273483947683%;
}
.news3 {
  padding-bottom: 14.506539833531509%;
}
.news-left {
  width: 26.159334126040427%;
  float: left;
}
.news-right {
  float: right;
  width: 71.46254458977408%;
  padding-top: 10px;
}
.news-right a {
  font-size: 1.2857142857142858em;
  font-weight: bold;
  color: #000000;
  display: inline;
  text-decoration: underline;
  border-bottom: none;
  /*@media screen and (max-width: 768px) {
			font-size: 16/14em;
		}*/

}
.news-right a:hover {
  text-decoration: none;
}
@media screen and (max-width: 320px) {
  .news-right a {
    font-size: 1em;
  }
}
@media screen and (max-width: 640px) {
  .news-left {
    width: 31.785714285714285%;
  }
  .news-right {
    width: 64.28571428571429%;
    padding-top: 29px;
    float: right;
  }
  .news-right .preveiw {
    margin-top: 13.88888888888889%;
    float: none;
    margin-left: -55.55555555555556%;
  }
}
.news-full {
  width: 75.125%;
  padding-bottom: 1.5%;
}
.note {
  margin-top: 15.375%;
  width: 22.375%;
  float: left;
}
.note p {
  color: #808080;
  font-size: 0.7142857142857143em;
  font-family: Verdana;
  line-height: 1.6em;
}
@media screen and (max-width: 768px) {
  .note img {
    max-width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .one-news {
    width: 100%;
    margin-left: 0;
  }
  .one-news .news-right {
    float: none;
    width: 100%;
  }
  .one-news .note {
    display: none;
    /*margin-top: 0;
  			float: none;
  			width: 800/841*100%;
  			overflow: hidden;
  			// display: none;
  			img {
  				float: left;
  				width: 32%;
  			}
  			p {
  				float: right;
  				width: 65%;
  			}*/
  
  }
}
.image {
  padding-top: 10px;
  float: right;
}
.marker {
  position: absolute;
  color: #ffffff;
  font-style: italic;
  text-align: center;
  /*@media screen and (max-width: 320px) {
		font-size: 12/14em;
	}*/

}
@media screen and (max-width: 640px) {
  .marker {
    left: 26.42857142857143%;
  }
}
.marker1 {
  background: #ff6666;
  margin: 0px;
  height: 20px;
  width: 65px;
  padding-top: 2px;
}
.marker2 {
  background: #99cc66;
  margin: 0px;
  height: 23px;
  width: 71px;
  padding-top: 2px;
}
.marker3 {
  background: #6699cc;
  margin: 0px;
  height: 23px;
  width: 110px;
  padding-top: 3px;
  /*@media screen and (max-width: 320px) {
		width: 75px; 
	}*/

}
@media screen and (max-width: 480px) {
  .marker3 {
    width: 90px;
  }
}
.color-links a {
  color: #003366;
  text-decoration: underline;
  border-bottom-style: none;
  display: inline;
  font-size: 1em;
  font-weight: normal;
}
.current a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
.other-news {
  width: 100%;
  overflow: hidden;
}
.designation {
  font-weight: bold;
  width: 198px;
  float: left;
  padding-left: 4.875148632580261%;
}
.designation h4 {
  width: 161px;
}
.news-choice {
  margin-top: 0;
  float: right;
  width: 71.46254458977408%;
  /*591px:841px;*/

  padding-bottom: 14px;
}
.rubric {
  width: 32.4459234608985%;
  /*197px:591px;*/

  padding-left: 0.8319467554076538%;
  padding-top: 19px;
  display: inline-block;
  margin-bottom: 0;
  float: left;
}
.rubric p {
  font-size: 0.8571428571428571em;
}
.rubric img {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  /*.designation {
  		width: 12%;
  		// padding-left: 0;
  		h4 {
  			width: 100%;
  		} 
  	}*/
  .news-choice {
    width: 82%;
  }
  .rubric {
    padding-left: 5px;
    padding-top: 19px;
    width: 31%;
    float: right;
  }
}
@media screen and (max-width: 640px) {
  .designation {
    padding-left: 0;
    float: none;
    /*h4 {
  			//width: (198/640)*100%;
  		}*/
  
  }
  .news-choice {
    width: 100%;
  }
  .rubric {
    padding-left: 1.875%;
    padding-top: 0;
  }
}
@media screen and (max-width: 480px) {
  /*.designation { 
  		h4 {
  			//font-size: 12/14em;
  			//width: (198/480)*100%;
  			@media screen and (max-width: 320px) {
  				width: (198/320)*100%;
  			}
  		}
  	}*/
  /*.news-choice {
  		width: 75%;
  	}*/
  .rubric {
    padding-top: 10px;
    width: 100%;
    float: right;
  }
  .rubric img {
    width: 40%;
    float: left;
  }
  .rubric .text-rubric {
    float: right;
    width: 58%;
  }
}
.drop-out {
  background: #ffffff;
  /* Old browsers */

  background: -moz-linear-gradient(top, #ffffff 12%, #e5e5e5 77%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(12%, #ffffff), color-stop(77%, #e5e5e5));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 12%, #e5e5e5 77%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 12%, #e5e5e5 77%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 12%, #e5e5e5 77%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ffffff 12%, #e5e5e5 77%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
  /* IE6-9 */

  /*width: 8.52483321%;*/

  /*115px:1349px (ширина экрана);*/

  height: 22px;
  border-radius: 10px;
  box-shadow: 1px 2px 4px #b8b8b8;
}
.drop-out a {
  border-bottom-style: none;
  text-shadow: 2px 1px #ffffff;
  text-decoration: none;
  margin-left: 5px;
}
.drop-out a:before {
  content: "\025bc";
  /*&#9660;*/
}
.submenu a:before {
  content: none;
}
.submenu li a {
  text-decoration: underline;
  padding-top: 5px;
}
.submenu li a:hover {
  color: #000000;
}
ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #666666;
}
ul.menu li.drop-out:hover {
  height: 105px;
}
li:hover ul {
  display: block;
}
li ul {
  position: absolute;
  display: none;
  list-style-type: none;
  margin-left: -25px;
}
/**.menu li.drop-out:hover { 
	height: 105px;
}*/
/*-------------- footer -----------------*/
footer.content {
  padding-bottom: 6.078576723498888%;
  /*1349px(т.к.родителем является окно)*/

  color: #8f8f8f;
}
.sign {
  border-top: 1px  solid;
  padding-top: 15px;
  font-size: 0.8571428571428571em;
}
