@black: #000;
@white: #FFF;
@grey: #666;

/*-----------------------------------------*/
html {
  font-size: 100%; /*шрифт по умолчанию*/
}
body {
	background: url(../images/fon.png);
	font: normal 0.875em PTSans, sans-serif; /* 14:16; */
	width: 100%; /*1349px*/
	a {
	    text-decoration: none;
	    display: inline-block; 
        border-bottom:1px dashed @grey; 
        color: @grey;
        &:hover {border-bottom-style:none;}
    }
}
.head-left {
	font-weight: bold;
	font-size: 1.71428571429em; /*24:14;*/
	letter-spacing: 0.25em;
	padding: 16px 0 0 10px;
	float: left; 
	@media screen and (max-width: 768px) {
		font-size: 1.28571428571em; /*18:14;*/
	}
	@media screen and (max-width: 480px) {
		font-size: 1.14285714286em; /*16:14;*/
		letter-spacing: 0em;
		// font-weight: normal;
	}
}
.head-right {
	float: right;
	padding: 20px 11px 0 0;
	height: 125px;
}
#dark {
	visibility: hidden;
	z-index: 1;
	background-color: @black;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: fixed;
    top: 0;
    width: 100%;
}
.blur {
	-webkit-filter:  blur(1px);
}
#login {
	width: 27.279466271%; /*368px:1349px;*/
	/*height: 230px;*/
	display: none;
	background: #FFF;
	position: absolute;
	z-index: 3;
	top: 50%;
	left: 50%; 
	margin-top: -8.52483321%; /*115px:1349px;*/
	margin-left: -13.639733136%; /*184px:1349px;*/
	@media screen and (max-width: 480px) {
		width: 40%; /*368px:1349px;*/
	}
}
form {
	padding-top: 15.489130435%; /*57px:368px;*/
	padding-left: 17.663043478%; /*65px:368px;*/
	width: 100%;
}
.field {
    input {
	    color: #666;
		width: 65.489130435%; /*241px:368px;*/
		margin-bottom: 5.163043478%; /*19px:368px;*/
    }
}
.control {
	margin-top: 5px;
	margin-bottom: 15.760869565%; /*58px:368px;*/
	overflow: hidden;
}
#submit {
	float: left;
	margin-right: 15px;
}
/*--------------- article ----------------*/
.content {
	width: 62.342475908%; /*841px:1349px(100%)*/
	margin: 0 auto;
	display: block;
	@media screen and (max-width: 768px) {
		width: 80%; 
	}
	@media screen and (max-width: 480px) {
		width: 90%; 
	}
}
.title {
	text-align: center;
	padding-top: 12.485136742%; /*105px:841px;*/
}
.main {
	font: bold 5.14285714286em PTSerif; /*72:14;*/
	line-height: 1em;
	@media screen and (max-width: 768px) {
		font-size: 4.14285714286em; /*58:14;*/
	}
	@media screen and (max-width: 480px) {
		font-size: 3.42857142857em; /*48:14;*/
	}
}
h2 {
	font-size: 1.71428571429em; /*24:14;*/
	margin-top: -10px;
	padding-bottom: 9.151414309%; /*55px:601px;*/
}
.list {
	font-size: 1.28571428571em; /*18:14;*/
	margin-top: 0;
	padding-top: 3.349282297%; /*28px:836px (ширина .list);*/
	padding-bottom: 13.516746411%; /*113px:836px (ширина .list);*/
	padding-left: 5px;
	li {
		display:inline-block; 
		list-style-type: none;
    }
    @media screen and (max-width: 480px) {
		font-size: 1.14285714286em; /*16:14;*/
	}
} 
.top-line-menu {
	margin: 0;
	padding-bottom: 10.701545779%; /*90px:841px;*/
	padding-top: 20px;
	margin-left: 181px;
	li {
		display:inline-block; 
		list-style-type: none;
		margin-left: 20px;
 	}
}
.news {
	/*height: 152px;*/
	margin: 0 auto;
	width: 100%; /*841px*/
	overflow: hidden;
	padding-bottom: 4.399524376%; /*37px:841px;*/
}
.one-news {
	/*height: 529px;*/
	border-bottom: 3px  solid #b1b1b1;
	margin-left: 4.875148633%; /*41px:841px;*/
	width: 95.124851367%; /*800px:841px;*/
	overflow: hidden;
}
.news2 {
	/*height: 177px;*/
	padding-bottom: 2.497027348%; /*21px:841px;*/
}
.news3 {
	padding-bottom: 14.506539834%; /*122px:841px;*/
}
.news-left {
	width: 26.159334126%; /*220px:841px;*/
	float: left;
}
.note {
	margin-top: 15.375%; /*123px:800px*/
	/*margin-top: 123px;*/
	width: 22.375%; /*179px:800px;*/
	float: left;
	p {
		color: #808080;
		font-size: 0.71428571429em; /*10:14;*/
		font-family: Verdana;
		line-height: 1.6em; /*16:10;*/
	}
}
.image {
	padding-top: 10px;
	float: right;
}
.marker {
	position: absolute;
	color: @white;
	font-style: italic;
	text-align: center;
	/*width:5.94530321%;*/
	/*width: 4.81%;*/
}
.marker1 {
	background:#ff6666; 
	margin:0px; 
	height:20px; 
	width:65px; 
	/*width:4.81%; */
	padding-top:2px;
}
.marker2 {
	background:#99cc66; 
	margin:0px; 
	height:23px; 
	width:71px; 
	padding-top:2px;
}
.marker3 {
	background:#6699cc; 
	margin: 0px; 
	height:23px; 
	width:110px; 
	padding-top:3px;
}
/*.marker1 {background:#ff6666; margin:0px; height:20px; width:65px; padding-top:2px;}
.marker2 {background:#99cc66; margin:0px; height:24px; width:71px; padding-top:2px;}
.marker3 {background:#6699cc; margin: 0px; height:23px; width:110px; padding-top:3px;}*/

.news-right {
	float: right;
	width: 71.46254459%; /*601px:841px;*/
	padding-top: 10px;
	a {
		font-size: 1.28571428571em; /*18:14;*/
		font-weight: bold;
		color: @black;
		display: inline;
		text-decoration: underline;
   	 	border-bottom:none; 
   	 	&:hover {text-decoration: none;}
   	 	@media screen and (max-width: 768px) {
			font-size: 1.14285714286em; /*16:14;*/
		}
	}
}
.news-full {
	width: 75.125%; /*601px:800px;*/
	padding-bottom: 1.5%; /*12px:800px;*/
}
.color-links {
	a {
		color: #003366;
		text-decoration: underline;
		border-bottom-style:none;
		display: inline;
		font-size: 1em; /*14:14;*/
		font-weight: normal;
	}
}
.current {
	a {
		color: @black;
		font-weight: bold;
		text-decoration: none;
	}
}
.other-news {
	/*height: 250px;*/
	width: 100%;
	overflow: hidden;
}
.designation {
	font-weight: bold;
	width: 23.543400713%; /*198px:841px;*/
	float: left;
	padding-left: 4.875148633%; /*41px:841px;*/
	h4 {
		width: 58.585858586%; /*116px:198px*/
	}
}
.news-choice {
	margin-top: 0;
	float: right;
	width: 70.273483948%; /*591px:841px;*/
	padding-bottom: 14px;
}
.rubric {
	width: 33.333333333%; /*197px:591px;*/
	padding-top: 19px;
	display: inline-block;
	margin-bottom: 0;
	float: left;
	p {
		font-size: 0.85714285714em; /*12:14;*/
	}
}
img {
	max-width: 100%;
}
.drop-out {
	background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 12%, rgba(229,229,229,1) 77%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(12%,rgba(255,255,255,1)), color-stop(77%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 12%,rgba(229,229,229,1) 77%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 12%,rgba(229,229,229,1) 77%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 12%,rgba(229,229,229,1) 77%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 12%,rgba(229,229,229,1) 77%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    /*width: 8.52483321%;*/
     /*115px:1349px (ширина экрана);*/
    height: 22px;
    border-radius: 10px;
    box-shadow: 1px 2px 4px #b8b8b8;
    a {
		border-bottom-style:none;
		text-shadow: 2px 1px @white;
		text-decoration: none;
		margin-left: 5px;
		&:before {
     		content: "\025bc"; /*&#9660;*/} 
	}
}
.submenu {
	a {&:before {content: none;} }
	li {
		a {
			text-decoration: underline;
  			padding-top: 5px;
  			&:hover {color: @black;}
		}
	}
}
ul.menu {
	list-style: none; 
	margin: 0;
	padding: 0;
	color: @grey;
	li.drop-out { 
		&:hover {height: 105px;}
	} // unknown - it is true or not
}
li {
	&:hover ul {display: block;}
	ul {
		position: absolute; 
    	display: none;
    	list-style-type: none;
    	margin-left: -25px;
	}
}
/**.menu li.drop-out:hover { 
	height: 105px;
}*/
/*-------------- footer -----------------*/
footer.content {
	padding-bottom: 6.078576723%; /*82px:1349px(т.к.родителем является окно)*/
	color: #8f8f8f;
}
.sign {
	border-top:1px  solid;
	padding-top: 15px;
	font-size: 0.85714285714em; /*12:14;*/
}